
.ButtonsGroup {
    margin-right: 15px;
    display: inline-block;
}

.ButtonsGroup button {
    background: #eee;
    border: none;
    outline: 0;
    margin: 0px;
    padding: 4px;
    margin-right: 4px;
    display: inline-block;
}

.ToggleButton.active {
    background: #428bca;
    color: #fff;
}


.DraftMirrorEditor {
    position: relative;
}
