
.ButtonsGroup {
    margin-right: 15px;
}

.ToggleButton {
    background: #eee;
    border: none;
    outline: 0;
    margin: 0px;
    padding: 4px;
    margin-right: 4px;
}

.ToggleButton.active {
    background: #428bca;
    color: #fff;
}

